{% load static %}


<html>
    <head>
            <title>Application</title>
    </head>
    <body>
            <h1><p align=center>Select the desired page</p></h1>
            <hr>
            <p><h2><a href="clients">Clients</a></h2></p>
            <p><h2><a href="orders">Orders</a></h2></p>
            <p><h2><a href="cars">Cars</a></h2></p>
            <p><h2><a href="/station/client_card/">Get registered</a></h2></p>
            <p><h2><a href="/station/Car/">Add Car</a></h2></p>
            <p><h2><a href="/station/Order/">Make an order</a></h2></p>
            <p><h2><a href="/station/User/">Check users</a></h2></p>
    </body>
</html>