
{% load static %}

<html>
    <head>
        <title>Service Station</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/station.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div>
                <h2>Email:</h2>
                <input value=""/>
                <input type="submit" name="submit" value="Send" />
        </div>
        
        <div>
                <h2>Password:</h2>
                <input type="password" name="password" />
        </div>
        
    </body>
</html>
